
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
}
.item{
	width:100px;
	height:100px;
	text-decoration-style:bold;
	font-size:50px;
}
#three{
	background-color:green;
}
#one{
	background-color:orange;
}
#two{
	background-color:blue;
}